.container {
    display: grid;
    max-width: 1200px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    grid-gap: 15px 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
    background: #fefcea; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #fefcea 0%, #f1da36 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #fefcea 0%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #fefcea 0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

section, main, footer {
    display: grid;
    width: 100%;
    margin-bottom: 7px;
}

ul {

    width: 100%;

    align-items: center;
    list-style-type: none;

}


header {

    background-color: purple;
}
header> div> img {
    height: 250px;

}
hr {

    height: 3px;
    color: black;
    width: 80%;

}

header h2 {
    /*float: left;*/
    vertical-align: center;
    padding-top: 50px;
    padding-right: 30px;
}
header > p {
    padding-right: 20px;

}
section h2 {
    align-items: center;
    font-size: 2rem;

}
main {
    display: grid;
    grid-template:auto / 350px 1fr;
    align-content: center;
    justify-content: space-evenly;
    /*background-color: pink;*/
}
footer {
    /*height: 80px;*/
    display:grid;
    grid-template-columns: 40% 40% 20%;
    /*background-color: chartreuse;*/
    align-items: center;
    justify-items: center;
    line-height: 1em;
}
/*------------------contact-styles---------------*/

label {
    color: navy;
    float: left;
    width: 5rem;
    /*font-weight: bold;*/
    text-align: right;
}
input {
    margin-left: 1rem;
    margin-bottom: .5rem;
}
input:focus {
    border: 2px solid navy;
}
#message {

    height: 5em;
    width: 25em;
}
#button {
    margin-left: 7em;
}
#map img{
    max-width: 400px;
}
/*----------------resources-styles-----------*/


section {
    display: grid;
    grid-template-columns: 40% 60%;
}

li {
    text-decoration: none;
}
a {
    text-decoration: none;
}


/*----------------------attorneys_styles------*/

